
.btn {
background-color:#8CB9BD ; /* Google Red */
color: #fff;
border: none;
border-radius: 5px;
padding: 10px 20px;
font-size: 16px;
font-weight: bold;
cursor: pointer;
margin-top: 20px;
transition: background-color 0.3s ease;
}